---
import Layout from "../components/Layout.astro"

import example from "../lib/example.json"

const leagues = example.Leagues
---

<Layout title="Home" desc="Select leagues">
  <div class="space-y-12">
    <h1 class="text-4xl">hello world</h1>
    <div class="flex gap-12 flex-wrap">
    {leagues.map((league) => <div class="h-52 aspect-square bg-primary border border-text rounded-md grid place-items-center font-bold text-2xl">{league.Name}</div>)}
    </div>
  </div>
</Layout>
